PRIVATE_KEY = 
BSC_API_KEY = 
ETH_API_KEY = 
INFURA_ID_PROJECT = 

# BRIDGE
ADMIN = 
TOKEN = 
INIT_SIGNERS = 
INIT_EXECUTORS = 
DESTINATION_CHAIN_ID = 
INPUT_FEE = 
MIN_AMOUNT = 
MAX_AMOUNT = 
MIN_CONFIRMATIONS = 